# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/IntelliJ/VSCode
.classpath
.project
.settings/
.idea/
*.iml


# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Arquivos de build
*.war
*.ear
*.jar

# Arquivos de ambiente
.env