/* ----- CONFIG GERAL ----- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* ----- TOPO ----- */
.topbar {
  background-color: #d32f2f;
}

.topbar .nav-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.nav-right .avatar .container-avatar {
  background-color: transparent;
  border: 2px solid transparent;
}

.componente-topbar {
  position: center;

}

.icons-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 28px;
  height: 28px;
  background-color: #b6b8c0;
  border-radius: 50%;
  position: relative;
}

.dots {
  font-size: 18px;
}

/* ----- CAMPO DE BUSCA ----- */
.search-container {
  text-align: center;
  margin: 15px;
}

.search-container input {
  width: 90%;
  height: 38px;
  border: 2px solid #d0d0d0;
  border-radius: 6px;
  padding-left: 12px;
  font-size: 15px;
}

/* ----- CATEGORIAS ----- */
.categories {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
}

.categories .item {
  display: inline-block;
  background-color: #e0e0e0;
  margin: 9px;
  padding: 9px;
  border-radius: 15px;
  width: 60px;
  height: 60px;
}

.categories img {
  width: 40px;
  height: 40px;
}

.btn {
  display: inline-block;
  background-color: #d63031;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

/* ----- BANNER ----- */
.banner {
  background-color: #d32f2f;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 30px 0;
  margin: 20px 15px;
  border-radius: 8px;
}

.banner h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
}

/* ----- MENU INFERIOR ----- */
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 -1px 4px rgb(255, 255, 255);
}

.plus {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 12px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-top: 1px solid #333;
  z-index: 1000;
}

.footer-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid;
  border: none;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
  transition: 0.2s ease;
}